/*  
    Кольори тексту:
        1) Основний колір: #000000;
        2) Додатковий колір: #2196F3;
        3) Акцентний колір: #757575;
        4) Третичний колір: #FFFFFF;
        5) Колір навігації: rgba(255, 255, 255, 0.6)
        6) КОЛІР КНОПКИ НА ПОРТФОЛІО: rgba(245, 244, 250, 1);

*/

:root {
  --main-color: #000000;
  --brand-color: #2196f3;
  --accent-color: #757575;
  --footer-nav-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #f5f5f5;
  --additional-background-color-white: #f5f4fa;
  --additional-background-color-black: #2f303a;
  --main-white-color: #ffffff;
  --main-color-hover: #2196f3;
  --additional-text-color: #212121;
  --order-hover-background: #fbff23;
}

/*Основні стилі*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  background-color: var(--main-white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*Верхнє блок-меню*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logotype-web {
  color: var(--brand-color);
}

.logotype-head {
  color: var(--main-color);
}

.logotype-footer {
  color: var(--main-white-color);
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-nav .head-nav.current {
  color: var(--brand-color);
}

.header-nav .head {
  color: var(--additional-text-color);
}

.header-nav .head:hover,
.header-nav .head:focus {
  color: var(--main-color-hover);
}

.header-address .address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: var(--accent-color);
}

.header-address .address:hover,
.header-address .address:focus {
  color: var(--main-color-hover);
}

/*Шапка*/

.title-panel {
  background-color: var(--additional-background-color-black);
}

.title-panel .title-panel-content {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-white-color);
}

.title-panel .title-panel-button {
  width: 260px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  color: var(--main-white-color);
  background-color: var(--brand-color);
}

.title-panel .title-panel-button:hover,
.title-panel .title-panel-button:focus {
  background-color: var(--order-hover-background);
  color: var(--brand-color);

  cursor: pointer;
}

/* Особливості */

.features .features-list .features-list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}

.features .features-list .features-list-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

/* Чим ми займаємося */

.worksheets-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--additional-text-color);
}

/* Наша команда */

.devteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--additional-text-color);
}

.devteam-list .devteam-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: var(--additional-text-color);
}

.devteam-list .devteam-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

/* Футер */
.footer-nav {
  background-color: var(--additional-background-color-black);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--main-white-color);
}

.address:hover,
.address:focus {
  color: var(--brand-color);
}

.address-mailtel {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--footer-nav-color);
}

.address-mailtel:hover,
.address-mailtel:focus {
  color: var(--brand-color);
}
